@import "tailwindcss";

:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
    "Segoe UI", sans-serif;
}

html {
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

/* Thin scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: nicer hover */
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}
